html {font-family:Arial, sans-serif;font-size:1em;}
h1,h2,h3,h4,h5 {font-family:Verdana,Arial,sans-serif;}
h1,h2 {border-bottom:.1em solid #d6f4b8;}
body {margin:0 auto; color:#222; width:950px;}

h1.masthead {margin:.1em 0 !important;}
h1.masthead a {font-size:2em; text-decoration:none;}
h1.masthead span.enviro {color:#61bb0a;font-weight:normal;}
h1.masthead span.vote {color:#333; font-variant: small-caps;}

div.column {float:left;overflow:hidden;padding:.2em;}
div.center {width:54%;}
div.incoming-wins {width:28%;margin-left:.5em;padding-left:.5em;border-left:.1em solid #999;}
div.left {width:12%;border-right:.1em solid #999;margin-right:.5em;padding-right:.5em;}

div.key-race {border-bottom:2px solid #999;}
div.key-race table {padding:0;border:.1em solid #999;margin:0;width:100%;}
div.key-race td {padding:.1em;}
div.key-race td.candidate-display {background:#efefef;width:50%;vertical-align:top;text-align:right;padding-left:.2em;}
div.key-race td.candidate-display img {float:right;margin-left:.4em;height:110px;margin-bottom:.2em;}
div.key-race td.first {border-right:1px solid #999;text-align:left;padding-right:.2em;padding-left:.1em;}
div.key-race td.first img {float:left;margin-left:0;margin-right:.4em;}
div.key-race td.greenest {background:#B4FF8F;}
div.key-race td.candidate-display span {display:block;}
div.key-race td.candidate-display span.name {font-size:1.2em;}
div.key-race td.candidate-display span.incumbent {font-size:.8em;}
div.key-race td.candidate-display span.votes {font-size:.8em;}
div.key-race td.candidate-display span.greenest {display:none;}
div.key-race td.candidate-display div.detail {clear:both;text-align:left;}
div.key-race td.candidate-display.first div.detail {clear:both;text-align:right;}
div.key-race div.content {clear:both;}
div.key-race div.content h3 {margin:1em 0 0;}
div.key-race div.content h4 {margin:0;}
div.candidates {overflow:hidden;margin-bottom:.1em;}

div.meter {overflow:hidden;}
div.meter div.bar {background-color:#d6f4b8; border-style:solid; border-color: #575a41;}
div.meter div.bar div {background-color: #61bb0a;}
div.meter p.learn {text-align:right;font-size:0.8em;}

div.endorse-o-meter {font-family:Verdana,Arial,sans-serif;}
div.endorse-o-meter div.meter {background:url(/public/images/bar-right.png) top right no-repeat;height:44px;}
div.endorse-o-meter div.meter div.bar {height: 2em; border-width:0.1em;height:44px;background:url(/public/images/bar-left.png) top left no-repeat;padding:6px;border:0 !important;}
div.endorse-o-meter div.meter div.bar div {height: 2em;background:url(/public/images/bar-fill.png);}

div.states div.meter div.bar {height: 1em; border-width:0.1em;background:url(/public/images/mini-bar-back.png);}
div.states div.meter div.bar div {height: 1em;background:url(/public/images/mini-bar-fill.png);}

div.incoming-wins div {background-color:#efefef;border:#999 solid 1px;padding:0.5em;margin-bottom: 0.5em;}
div.incoming-wins div p.tally-notes {font-size:0.8em;}
div.incoming-wins div p.tally-updated {text-align:right;font-size:0.7em;margin-top:0.3em;}
div.incoming-wins div p {margin:0;}
div.incoming-wins div h4 {margin:0;}
div.incoming-wins div ol {list-style:none;padding:0;}
div.incoming-wins div ol li {padding:0.2em;}
div.incoming-wins div ol li.greenest {background-color:#61bb0a;color:white;border:solid 1px #575a41;}
div.incoming-wins div ol li.winner {font-weight:bold; font-size:1em;}
div.incoming-wins div ol li {font-size:0.9em}

div#about {margin:1em;width:80%;}
div#about ul {list-style:none;}

div#state div.meter {width:40em;}
