{% extends "base.html" %}
{% load humanize %}
{% block filling %}
<h2>Endorse-o-meter</h2>
<div class="meter"><div style="width:{{percent_green}}%;">&nbsp;</div></div>
<p>{{green_races}} out of {{decided_races}} races decided, {{remaining_races}} to go.  (Learn how we calculate this)</p>
<h2>Incoming wins</h2>
{% for race in incoming_races %}
<div>
    <h4>
    {% ifequal race.race_type 'pre' %}U.S. President{% endifequal %}
    {% ifequal race.race_type 'con' %}{{race.get_state_display}}, U.S. House{% endifequal %}
    {% ifequal race.race_type 'sen' %}{{race.get_state_display}}, U.S. Senate{% endifequal %}
    {% ifequal race.race_type 'gub' %}{{race.get_state_display}} Governor{% endifequal %}
    </h4>
    <h5>{% ifequal race.race_type 'con' %}{{race.district|ordinal}} District{% endifequal %}</h5>
    <ol>
    {% for candidate, percent in race.get_candidate_percentages %}
        <li>
        {{candidate}} {{percent|floatformat:2}}%
        {% ifequal race.winner candidate %}***{% if race.projected %} (projected){% endif %}{% endifequal %}
        </li>
    {% endfor %}
    </ol>
    <p>{{race.tally_notes}}</p>
    <p>{{race.tally_updated|naturalday|capfirst}} at {{race.tally_updated|date:"h:i a"}}</p>
</div>
{% endfor %}
<div>
<h2>Key Races</h2>
<div class="key-races">
{% for race in key_races %}
  <div class="key-race">
    <h3>{{race.title}}</h3>
    {% for candidate in race.candidate_set.all %}
        {% if candidate.is_key %}
        <div ></div>
            <h6>{{candidate.name}}{% if candidate.last_elected %} (incumbent, last elected {{candidate.last_elected}}){% endif %}</h6>
            <img src="{{candidate.photo}}"/>
            {% if candidate.votes %}<p>{{candidate.votes}} votes</p>{% endif %}
            {% ifequal race.greenist candidate %}<p>This is the greenist candidate!</p>{% endifequal %}
            {% for endorsement in candidate.endorsement_set.all %}
              {{ endorsement }}<br/>
            {% endfor %}
            <p>
                {% ifequal race.winner candidate %}
                    {% if race.projected %}
                        Projected winner
                    {% else %}
                        Winner
                    {% endif %}
                {% endifequal %}
            </p>
            
        {% endif %}
    {% endfor%}
    <h3>{{race.deck}}</h3>
    <h4>{{race.title}}</h4>
    {% if race.vote_last_updated %}
      <p>Last updated at {{race.vote_last_updated|date:"h:i a"}} {{race.vote_last_updated|naturalday}}</p>
    {% endif %}
    {{race.body|linebreaks}}
  </div>
{% endfor %}
</div>
{% endblock %}
