{% extends "base.html" %}
{% load humanize %}
{% block filling %}
<h2>Incoming wins</h2>
{% for race in incoming_races %}
<div>
    <h4>
    {% ifequal race.race_type 'pre' %}U.S. President{% endifequal %}
    {% ifequal race.race_type 'con' %}{{race.get_state_display}}, U.S. House{% endifequal %}
    {% ifequal race.race_type 'sen' %}{{race.get_state_display}}, U.S. Senate{% endifequal %}
    {% ifequal race.race_type 'gub' %}{{race.get_state_display}} Governor{% endifequal %}
    </h4>
    <h5>{% ifequal race.race_type 'con' %}{{race.district|ordinal}} District{% endifequal %}</h5>
    <ol>
    {% for candidate, percent in race.get_candidate_percentages %}
        <li>
        {% ifequal race.winner candidate %}***{% endifequal %}
        {{candidate}} {{percent|floatformat:2}}%
        </li>
    {% endfor %}
    </ol>
    <p>{{race.tally_notes}}</p>
    <p>{{race.tally_updated|naturalday|capfirst}} at {{race.tally_updated|date:"h:i a"}}</p>
</div>
{% endfor %}
<div>
<h2>Key Races</h2>
{% for race in key_races %}
    <h3>{{race.headline}}</h3>
    <h4>{{race.deck}}</h4>
    <h5>
    {% ifequal race.race_type 'pre' %}President of the United States{% endifequal %}
    {% ifequal race.race_type 'con' %}U.S. House of Representatives, {{race.get_state_display}} {{race.district|ordinal}} District{% endifequal %}
    {% ifequal race.race_type 'sen' %}U.S. Senate{% endifequal %}
    {% ifequal race.race_type 'gub' %}Governor of {{race.get_state_display}}{% endifequal %}
    </h5>
    {% for candidate in race.candidate_set.all %}
        {% if candidate.is_key %}
            <h6>{{candidate.name}}{% if candidate.last_elected %} (incumbent, last elected {{candidate.last_elected}}){% endif %}</h6>
            <img src="{{candidate.photo}}"/>
            {% if candidate.votes %}<p>{{candidate.votes}} votes</p>{% endif %}
            <p>
                {% ifequal race.winner candidate %}
                    {% if race.projected %}
                        Projected winner
                    {% else %}
                        Winner
                    {% endif %}
                {% endifequal %}
            </p>
            {% if race.vote_last_updated %}<p>Last updated at {{race.vote_last_updated|date:"h:i a"}} {{race.vote_last_updated|naturalday}}</p>{% endif %}
        {% endif %}
    {% endfor%}
    <p>{{race.body|linebreaks}}</p>
{% endfor %}
</div>
{% endblock %}
