{% extends "base.html" %}
{% load race_extras %}
{% block filling %}
<div id="state">
<h1 style="margin:.5em 0">{{state}}</h1>
{% show_medium_meter meter_info %}

{% ifequal 0 governor_races.count %}
    <h3>Governor</h3>
    <div>No gubernatorial election this year.</div>
{% else %}
    {% for race in governor_races %}
        {% show_state_race race %}
    {% endfor %}
{% endifequal %}

{% ifequal 0 senate_races.count %}
    <h3>Senate</h3>
    <div class="race">No senate election this year.<div class="race">
{% else %}
    {% for race in senate_races %}
        {% show_state_race race %}
    {% endfor %}
{% endifequal %}
<h2>U.S. House of Representatives</h2>
{% for race in house_races %}
{% show_state_race race %}
{% endfor %}
</div>
{% endblock %}
