{% extends "base.html" %}
{% load humanize %}
{% load race_extras %}
{% block filling %}

<div class="column states">
  <div class="elections">
      <h2>Elections</h2>
      {% for name, election_meter_info in elections %}
      {{name}}
      {% show_meter election_meter_info %}
      {% endfor %}
  </div>
</div>

<div class="column center">
<div class="endorse-o-meter">
<h2>Endorse-o-meter</h2>
    {% show_meter meter_info %}
</div>

<h2>Key Races</h2>
<div class="key-races">
{% for race in key_races %}
  <div class="key-race">
    <h3>{{race.title}}</h3>
    <div class="candidates">
    {% for candidate in race.candidate_set.all %}
        {% if candidate.is_key %}
        <div class="candidate-display{% ifequal race.greenest candidate %} greenest{% endifequal %}{% if forloop.first %} first{% endif %}">
          <img src="{{candidate.photo}}"/>
          <span class="name">{{candidate.name}}</span>
          {% if candidate.last_elected %}<span class="incumbent">(incumbent, last elected {{candidate.last_elected}})</span>{% endif %}
          {% if candidate.votes %}<span class="votes">{{candidate.votes|intcomma}} votes</span>{% endif %}
          {% ifequal race.greenest candidate %}<span class="greenest">Greenest</span>{% endifequal %}
          {% ifequal race.winner candidate %}
            <span class="winner">  
            {% if race.projected %}
              Projected winner
            {% else %}
              Winner
            {% endif %}
            </span>
          {% endifequal %}
          <span class="endorsement">Endorsed by {{candidate.endorsement_count|apnumber}} organization{% ifnotequal candidate.endorsement_count 1 %}s{% endifnotequal %}</span>
        </div>
        {% endif %}
    {% endfor%}
    </div>
    <div class="content">
    <h3>{{race.headline}}</h3>
    <h4>{{race.deck}}</h4>
    {% if race.vote_last_updated %}
      <p>Last updated at {{race.vote_last_updated|date:"h:i a"}} {{race.vote_last_updated|naturalday}}</p>
    {% endif %}
    {{race.body|linebreaks}}
    </div>
  </div>
{% endfor %}
</div>
</div>

<div class="column incoming-wins">
<h2>Incoming wins</h2>
{% for race in incoming_races %}
<div>
    <h4>
    {% ifequal race.race_type 'pre' %}U.S. President{% endifequal %}
    {% ifequal race.race_type 'con' %}{{race.get_state_display}}, U.S. House{% endifequal %}
    {% ifequal race.race_type 'sen' %}{{race.get_state_display}}, U.S. Senate{% endifequal %}
    {% ifequal race.race_type 'gub' %}{{race.get_state_display}} Governor{% endifequal %}
    </h4>
    {% ifequal race.race_type 'con' %}<h5>{{race.district|ordinal}} District</h5>{% endifequal %}
    <ol>
    {% for candidate, percent in race.get_candidate_percentages %}
        <li>
        {{candidate}} {{percent|floatformat:2}}%
        {% ifequal race.winner candidate %}***{% if race.projected %} (projected){% endif %}{% endifequal %}
        </li>
    {% endfor %}
    </ol>
    {% ifnotequal race.winner race.incumbent %}
    <p>{{ race.percent_change }}% change in green-ness</p>
    {% endifnotequal %}
    <p>{{race.tally_notes}}</p>
    <p>{{race.tally_updated|naturalday|capfirst}} at {{race.tally_updated|date:"h:i a"}}</p>
</div>
{% endfor %}
<div>
</div>

{% endblock %}
