{% extends "base.html" %}
{% load humanize %}
{% block filling %}
<h2>Key Races</h2>
{% for race in races %}
<h3>{{race.headline}}</h3>
<h4>{{race.deck}}</h4>
<h5>
{% ifequal race.race_type 'pre' %}President of the United States{% endifequal %}
{% ifequal race.race_type 'con' %}U.S. House of Representatives, {{race.get_state_display}} {{race.district|ordinal}} District{% endifequal %}
{% ifequal race.race_type 'sen' %}U.S. Senate{% endifequal %}
{% ifequal race.race_type 'gub' %}Governor of {{race.get_state_display}}{% endifequal %}
</h5>
<p>{{race.body|linebreaks}}</p>
{% endfor %}
{% endblock %}
