{% extends "base.html" %}
{% load humanize %}
{% load race_extras %}
{% block filling %}

<div class="column left">
  <div class="states">
      <h2>States</h2>
      {% for name, state_meter_info, url_name in states %}
      <a href="/{{url_name}}">{{name}}
      {% show_meter state_meter_info %}
      </a>
      {% endfor %}
  </div>
</div>

<div class="column center">
{% show_big_meter meter_info %}
<br/>
<h2>Key Races</h2>
<div class="key-races">
{% for race in key_races %}
  <div class="key-race">
    <h3><a href="{{race.get_absolute_url}}">{{race.title}}</a></h3>
    <div class="candidates">
      <table border="0" cellpadding="0" cellspacing="0"><tr>
    {% for candidate in race.candidate_set.all %}
        {% if candidate.is_key %}
          <td class="candidate-display{% ifequal race.greenest candidate %} greenest{% endifequal %}{% if forloop.first %} first{% endif %}">
          <img src="{{candidate.photo}}" alt="Portrait of {{candidate.name}}"/>
          {% ifequal race.winner candidate %}
            <span class="winner">
            <img src="/public/images/star.png" alt="Star" class="badge"/>
            {% if race.projected %}
              Projected winner
            {% else %}
              Winner
            {% endif %}
            </span>
          {% else %}<span class="winner" style="background:transparent">&nbsp;</span>
          {% endifequal %}
          <span class="name">
          {% ifequal race.winner candidate %}
            <strong>{{candidate.name}}</strong>
          {% else %}
            {{candidate.name}}
          {% endifequal %}
          </span>
          <span class="party">({{candidate.party_type}})</span>
          {% if candidate.last_elected %}<span class="incumbent">(incumbent)</span>{% endif %}
          {% if candidate.votes %}
            <span class="votes">
            {{candidate.vote_percentage|floatformat:2}}% of the vote
          </span>
          {% endif %}
          <div class="detail">
          {% ifnotequal candidate.endorsement_set.all.count 0 %}
          <span class="endorsement">
            {% ifequal race.greenest candidate  %}
              <img src="/public/images/world.png" alt="Most endorsed by environmental groups" title="Most endorsed by environmental groups" class="badge"/>
            {% endifequal %}
            Endorsed by {{candidate.endorsement_set.all.count|apnumber}} 
            organization{% ifnotequal candidate.endorsement_set.all.count 1 %}s{% endifnotequal %}</span>
          {% else %}
          <span class="endorsement">No endorsements</span>
          {% endifnotequal %}            
          {% ifequal race.greenest candidate %}<span class="greenest">Greenest</span>{% endifequal %}
          </div>
        </td>
        {% endif %}
    {% endfor%}    
      </tr></table>
    </div>
    <div class="content">
    <h3>{{race.headline}}</h3>
    <h4>{{race.deck}}</h4>
    {% if race.vote_last_updated %}
      <p>Last updated at {{race.vote_last_updated|date:"h:i a"}} {{race.vote_last_updated|naturalday}}</p>
    {% endif %}
    {{race.body|linebreaks}}
    </div>
  </div>
{% endfor %}
</div>
</div>

<div class="column incoming-wins">
<h2>Incoming wins</h2>
{% for race in incoming_races %}
<div>
    <h4><a href="{{race.get_absolute_url}}">
    {% ifequal race.race_type 'pre' %}U.S. President{% endifequal %}
    {% ifequal race.race_type 'hou' %}{{race.get_state_display}}, U.S. House{% endifequal %}
    {% ifequal race.race_type 'sen' %}{{race.get_state_display}}, U.S. Senate{% endifequal %}
    {% ifequal race.race_type 'gov' %}{{race.get_state_display}} Governor{% endifequal %}
    </a></h4>
    {% ifequal race.race_type 'con' %}<h5>{{race.district|ordinal}} District</h5>{% endifequal %}
    <ol>
    {% for candidate, percent in race.get_candidate_percentages %}
        <li class="{% ifequal race.winner candidate %}winner{% endifequal %}">
      {% ifequal race.winner candidate %}
        <img src="/public/images/star.png" alt="{% if race.projected %}Projected {% endif %}Winner" title="{% if race.projected %}Projected {% endif %}Winner" class="badge"/>
      {% endifequal %}

      {% ifequal race.greenest candidate  %}
        <img src="/public/images/world.png" alt="Most endorsed by environmental groups" title="Most endorsed by environmental groups" class="badge"/>
      {% endifequal %}

        {{candidate}} {{percent|floatformat:2}}%
        {% ifequal race.winner candidate %}{% if race.projected %} (projected){% endif %}{% endifequal %}
        </li>
    {% endfor %}
    </ol>
    <p class="tally-notes">{{race.tally_notes}}</p>
    <p class="tally-updated">{{race.tally_updated|naturalday|capfirst}} at {{race.tally_updated|date:"h:i a"}}</p>
</div>
{% endfor %}
{% endblock %}
